@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Code:wght@300;400;500;600;700&display=swap');
:root {
    /*
        Palette
    */

    /* blue */
    --light-blue: #98CCF9;
    --dark-blue: #00ABFE;
    --light-blue-grad: linear-gradient(var(--light-blue), #BDECF4);
    --dark-blue-grad: linear-gradient( #3B7DFF, var(--dark-blue) );

    /* cyan */
    --light-cyan: #B6E2D2;
    --dark-cyan: #2CD9CB;
    --light-cyan-grad: linear-gradient(180deg, #92C3EB 0%, #B6E2D2 100%);
    /*--light-cyan-grad: linear-gradient( #92C3EB, var(--light-cyan));*/
    --dark-cyan-grad: linear-gradient( #33D9EB, var(--dark-cyan));


    /* green */
    --light-green: #A4DCA1;
    --dark-green: #21C879;
    --light-green-grad: linear-gradient(var(--light-green), #D1EDAC);
    --dark-green-grad: linear-gradient(var(--dark-green), #3BC791);

    /* purple */
    --light-purple: #8598EB;
    --dark-purple: #A952ED;
    --light-purple-grad: linear-gradient(var(--light-purple), #A5C8FF);
    --dark-purple-grad: linear-gradient(var(--dark-purple), #D65FF2);

    /*red*/
    --light-red: #EC98BC;
    --dark-red: #FF4B8B;
    --light-red-grad: linear-gradient(var(--light-red), #F7BAC5);
    --dark-red-grad: linear-gradient(var(--dark-red), #FF4972);

    /* orange */
    --light-orange: #FF8F58;
    --dark-orange: #FF7F37;
    --light-orange-grad: linear-gradient(var(--light-orange), #FFC97C);
    --dark-orange-grad: linear-gradient(#FF5C63, var(--dark-orange));

    /* misc colors */
    --light-gray: #707fa6;
    --light-gray-grad: linear-gradient(#616892, var(--light-gray));
    --orange-gradient: linear-gradient(var(--light-orange), #FFC97C);
    --pink-grad: linear-gradient(to right, #FF6E5D, #B84cB7);


    /* typography*/

    --serif: "Bitter", serif;
    --mono: "Fira Code", monospace;
    --sans: "Exo 2", sans-serif;

    /* Constants  */
    --border: 4px solid var(--dark-blue);
    --radius: 10px;
    --transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    --heavy-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --light-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --gray: rgba(119, 136, 153, 0.2);
    --bg: white;

    /* Variables */
    --text-color: slategrey;
    --header-bg: var(--light-gray-grad);
}

[data-theme="dark"] {
    --bg: #161925;
    --text-color: white;
    --header-bg: white;
}

body{
    margin: 0;
    background: var(--bg);
}

* {
    color: var(--text-color);
    font-family: "Exo 2", sans-serif;
    box-sizing:border-box;
}

hr {
    border: 1px solid var(--gray);
}

p {
    font-family: var(--mono);
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: var(--header-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

blockquote {
    font-family: var(--serif);
    font-style: italic;
    border-left:  solid;
    border-left-color: var(--dark-blue);
    padding-left: 1rem;
    color: var(--text-color);
}
a {
    color: var(--dark-blue);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}


code, pre {
    font-family: var(--mono);
    text-shadow: 0 1px white;
    white-space: pre;
    line-height: 1.5;
    hyphens: none;
    color: var(--text-color);
    font-size: 90%;
}


table  {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
th, td {
    padding: 1rem;
}
tr:nth-child(even) {
    background: var(--gray);
}

/* ---- INPUTS ---- */

input {
    outline: none;
    border-radius: var(--radius);
    padding: 1rem;
}

/* text */
input[type=text], input[type=date], input[type=time], input[type=email], input[type=password], input[type=search], input[type=url], input[type=number] {
background: transparent;
    border: none;
    box-shadow: var(--heavy-shadow);
    transition: var(--transition);
    -webkit-appearance: none;
    padding: 1rem;
}

input[type=text]:focus, input[type=date]:focus, input[type=time]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=url]:focus, input[type=number]:focus {
    box-shadow: var(--light-shadow);

}
/* Remove arrows from number input */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}


/* buttons */
input[type=button], input[type=reset], input[type=submit]{
    border: var(--border);
    background: var(--pink-grad);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    cursor: pointer;
}

input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    box-shadow: var(--heavy-shadow);
}

input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
    box-shadow: none;
}
input[type=file] {
    padding: 1rem 0;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    border: var(--border);
    border-radius: var(--radius);
    padding: 1rem;
    background: var(--pink-grad);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    margin-right: 1rem;
}

input[type=file]::-webkit-file-upload-button  {
    border: var(--border);
    border-radius: var(--radius);
    padding: 1rem;
    background: var(--pink-grad);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--sans);
    margin-right: 1rem;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    outline: none;
}


input[type=file]::-webkit-file-upload-button:hover {
    box-shadow: var(--heavy-shadow);
}
input[type=file]::file-selector-button:hover {
    box-shadow: var(--heavy-shadow);
}
input[type=file]::-webkit-file-upload-button:focus {
    box-shadow: none;
}
input[type=file]::file-selector-button:focus {
    box-shadow: none;
}



/* Ranges */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    cursor: pointer;
}

input[type=range]::-moz-range-track {
    height: 8px;
    background: var(--dark-blue);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}


input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--dark-blue);
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
}

input[type=range]::-moz-range-thumb {
    border: var(--border);
    border-radius: var(--radius);
    background-image: var(--pink-grad);
    width: 1rem;
    height: 2rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: var(--border);
    border-radius: var(--radius);
    background: var(--pink-grad);
    width: 1.2rem;
    height: 2rem;
    margin-top: -0.75rem;
}


input[type=range]:focus::-moz-range-track {
    background: var(--dark-blue-grad);
    box-shadow: var(--heavy-shadow);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--dark-blue-grad);
    box-shadow: var(--heavy-shadow);
}


